@font-face {
    font-family: "Alan-Sans";
    src: url(../assets/fonts/Alan_Sans/AlanSans-VariableFont_wght.ttf)format(truetype);
}

@font-face {
    font-family: "Zalando-Sans-Regular";
    src: url(../assets/fonts/Zalando_Sans/ZalandoSans-Regular.ttf)format(truetype);
}

@font-face {
    font-family: "Zalando-Sans-Medium";
    src: url(../assets/fonts/Zalando_Sans/ZalandoSans-Medium.ttf)format(truetype);
}

@font-face {
    font-family: "Zalando-Sans-SemiBold";
    src: url(../assets/fonts/Zalando_Sans/ZalandoSans-SemiBold.ttf)format(truetype);
}

header {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000b1;
}

header h1 {
  color: #ffffff;
  font-family: Alan-Sans;
  font-size: 30px;
  margin: 20px;
}

header button{
  color: #ffffff;
  margin: 0 30px;
  background-color: #7e3bed;
  padding: 5px 10px;
  border-radius: 100%;
  cursor:pointer;
  border: none;
  font-size: 15px;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
  gap: 10px;
  background-image: url("../assets/imagenes/fondo7.jpg");
  background-size: cover;
  min-height: 100vh;
}

.secciones {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 5px;
  margin: 20px;

}

a{
  text-decoration: none;
}

.secciones button {
  padding: 15px 20px;
  border: none;
  border-radius: 100px;
  background: #c6ff34;
  cursor: pointer;
  display: flex;
  align-content: center;

  font-family: Zalando-Sans-Medium;
  color: #000000;
  font-size: 16px;
  transition: 0.2s;
}

.secciones button:hover{
  background-color: #7e3bed;
  transform: scale(1.1);
}

.icono{
  margin-right: 5px;
}

.camera-container {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: #BCBCBC;
}


.escaneado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 25px;

  max-width: 900px;
  margin: 0px auto;
}


video,
canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#capture {
  background-color: #c6ff34;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
}

.card {
  width: 360px;
  height: 360px;

  background: #000000;
  border-radius: 25px;
  padding: 20px;
  position: relative;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hidden {
  display: none;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #c6ff34;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
}

#card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  gap: 20px;
}

#card-content h2, #card-content p{
  width: 100%;
  text-align: left;
  margin: 0;
}
#card-content h2{
  font-family: Zalando-Sans-SemiBold;
}

#card-content p{
  font-family: Zalando-Sans-Regular;
}

#trivia-btn{
  padding: 8px 15px;
  border: none;
  border-radius: 100px;
  background: #7e3bed;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;

  font-family: Zalando-Sans-Medium;
  color: #ffffff;
  font-size: 16px;
  transition: 0.2s;
  width: 100px;
}

.answer{
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  width: 100%;
  text-align: left;
  transition: 0.2s;
  font-family: Zalando-Sans-Regular;
  font-size: 14px;
}

.answer:hover{
  background-color: #c6ff34;
  border-radius: 20px;
  color: #000000;
  padding: 5px;
  font-family: Zalando-Sans-Medium;
}

@media (max-width: 768px) {
    .btn-text {
        display: none;
    }

    .secciones{
      margin: 10px 0px 0px 0px;
    }

    .seccion {
        justify-content: center;
        width: 60px;   /* opcional: hacerlo más compacto */
        height: 60px;  /* opcional */
    }

    .icono {
        width: 28px;
        height: 28px;
        margin: 0;
    }

    .camera-container {
      width: 300px;
      height: 300px;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      background: #BCBCBC;
    }

    .escaneado{
      display: flex;
      flex-direction: column;
    }

    #info-card{
      width: 260px;
      height: 260px;
      margin-bottom: 20px;
    }
}

/*
PALETA DE COLORES
blanco: #ffffff
Lime: #c6ff34
MORADO: #7e3bed
NEGRO: #000000
*/