@font-face {
  font-family: "Alan-Sans";
  src: url(../assets/fonts/Alan_Sans/AlanSans-VariableFont_wght.ttf)format(truetype);
}

@font-face {
  font-family: "Zalando-Sans-Regular";
  src: url(../assets/fonts/Zalando_Sans/ZalandoSans-Regular.ttf)format(truetype);
}

@font-face {
  font-family: "Zalando-Sans-Medium";
  src: url(../assets/fonts/Zalando_Sans/ZalandoSans-Medium.ttf)format(truetype);
}

@font-face {
  font-family: "Zalando-Sans-SemiBold";
  src: url(../assets/fonts/Zalando_Sans/ZalandoSans-SemiBold.ttf)format(truetype);
}

header {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000b1;
   z-index: 20;
}

header,
.secciones {
  position: relative;
  z-index: 20;
}


header h1 {
  color: #ffffff;
  font-family: Alan-Sans;
  font-size: 30px;
  margin: 20px;
}

header button {
  color: #ffffff;
  margin: 0 30px;
  background-color: #7e3bed;
  padding: 5px 10px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 10px;
  background-image: url("../assets/imagenes/fondo7.jpg");
  background-size: cover;
  min-height: 100vh;
}

.secciones {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 5px;
  margin: 20px;

}

a {
  text-decoration: none;
}

.secciones button {
  padding: 15px 20px;
  border: none;
  border-radius: 100px;
  background: #c6ff34;
  cursor: pointer;
  display: flex;
  align-content: center;

  font-family: Zalando-Sans-Medium;
  color: #000000;
  font-size: 16px;
  transition: 0.2s;
}

.secciones button:hover {
  background-color: #7e3bed;
  transform: scale(1.1);
}

.icono {
  margin-right: 5px;
}



.escaneado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 25px;

  max-width: 900px;
  margin: 0px auto;
}


.camera-container {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: transparent !important;
  z-index: 1;
}


.camera-container video {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0 !important;
  object-fit: cover;
}

.play-animation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    font-size: 24px;
    padding: 15px 20px;
    border-radius: 50%;
    border: none;
    background-color: #c6ff34;
    color: #000000;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#play-btn:not(.hidden) {
  opacity: 1;
}

.scanning{
  padding-top: 100px;
}

a-scene {
  width: 100%;
  height: 100%;
}

a-scene canvas {
  pointer-events: none;
}

.card {
  width: 360px;
  height: 360px;

  background: #000000;
  border-radius: 25px;
  padding: 20px;
  position: relative;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hidden {
  display: none !important;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #7e3bed;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
}

#card-content {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 10px;
}

#card-content h2,
#card-content p {
  width: 100%;
  text-align: left;
  margin: 0;
}

#card-content h2 {
  font-family: Zalando-Sans-SemiBold;
  padding: 5px 0px;
}

#card-content p {
  font-family: Zalando-Sans-Regular;
  font-size: 15px;
}

#info-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#trivia-view{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

hr {
  width: 100%;
}

#trivia-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 100px;
  background: #c6ff34;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;

  font-family: Zalando-Sans-Medium;
  color: #000000;
  font-size: 16px;
  transition: 0.2s;
  width: 100px;
  margin-top: 30px;
}

#trivia-btn:hover {
  background-color: #7e3bed;
  transform: scale(1.1);
}

.answer {
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  width: 100%;
  text-align: center;
  transition: 0.2s;
  font-family: Zalando-Sans-Regular;
  font-size: 15px;
}

.answer:hover {
  background-color: #c6ff34;
  border-radius: 20px;
  color: #000000;
  padding: 5px;
  font-family: Zalando-Sans-Medium;
}

@media (max-width: 768px) {
  .btn-text {
    display: none;
  }

  .secciones {
    margin: 10px 0px 0px 0px;
  }

  .seccion {
    justify-content: center;
    width: 60px;
    height: 60px;
  }

  .icono {
    width: 28px;
    height: 28px;
    margin: 0;
  }

  .camera-container {
    width: 300px;
    height: 300px;
    position: relative;
  }

  .camera-container video {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    object-fit: cover;
  }
  
  .escaneado {
    display: flex;
    flex-direction: column;
  }

  .scanning{
    padding-top: 0;
    padding-bottom: 45px;
  }
  .card {
    width: 260px;
    height: 100%;
    margin-bottom: 20px;
  }
}

.mindar-ui-overlay {
  z-index: 1;
}


a-scene {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 0;
}


a-scene canvas {
  pointer-events: none;
}


#swal2-title{
  font-family: Zalando-Sans-Medium;
  color: #000000;
}

#swal2-html-container{
  font-family: Zalando-Sans-Regular;
}

/*
PALETA DE COLORES
blanco: #ffffff
Lime: #c6ff34
MORADO: #7e3bed
NEGRO: #000000
*/